<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Pablo
      <span class="text-primary">Carballo</span>
    </h1>
    <div class="subheading mb-5">Curapaligue 441 · Buenos Aires, Argentina · (+5411) 3431-3233 ·
      <a href="mailto:npablow@email.com">npablow@email.com</a>
    </div>
    <p class="mb-5">Animator and designer, enthusiastic and proactive, my goal is to keep learning new technologies and empower my career. Teaching is a big part of my life. I enjoy to take advantage of my learning skills.    I expect to share experiences and evolve on a nice working environment. </p>
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
    </ul>
  </div>
</section>
