<section class="resume-section p-3 p-lg-5 d-flex d-column" id="experience">
    <div class="my-auto">

    <h2 class="mb-5">Portfolio</h2>

    <div class="card-columns">
          <div class="card m-2 testCursor">
              <img class="card-img-top img-fluid" src="../assets/port/bamodern.jpg" alt="Modern Toilet">
              <div class="card-body">
                  <h4 class="card-title">Modern Toilet</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
          </div>

          <div class="card m-2 testCursor">
              <img class="card-img-top img-fluid" src="../assets/port/localropa1.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Retail shop remodeling</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>

          <div class="card m-2 testCursor">
              <img class="card-img img-fluid" src="../assets/port/localropa2.jpg" alt="Retail shop remodeling">
          </div>

          <div class="card m-2 testCursor">
              <img class="card-img-top img-fluid" src="../assets/port/Onepunchmansand.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Repurposed Hangar</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>

            <div class="card m-2 testCursor">
              <img class="card-img-top img-fluid" src="../assets/port/VIDEO.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Aca va un video</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
      </div>

  </div>
</section>
