/* You can add global styles to this file, and also import other style files
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/* Bootstrap core CSS */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';

/* Custom fonts for this template */

@import 'https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import '~font-awesome/css/font-awesome.min.css';
@import '~devicons/css/devicons.min.css';
@import '~simple-line-icons/css/simple-line-icons.css';

@import '/assets/resume.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Custom styles for this template
<link href="css/resume.min.css" rel="stylesheet">*/

.my-app-custom-plain-container-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.my-app-custom-plain-container-row .my-app-custom-image-row {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}
.my-app-custom-plain-container-row .my-app-custom-image-row.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.my-app-custom-plain-container-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.my-app-custom-plain-container-column .my-app-custom-image-column {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}
.my-app-custom-plain-container-column .my-app-custom-image-column.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.my-app-custom-plain-container-with-desc {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.my-app-custom-plain-container-with-desc figure {
  margin: 0;
  position: relative;
}
.my-app-custom-plain-container-with-desc figure img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.my-app-custom-plain-container-with-desc figure figcaption {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 85%;
  padding: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}
.my-app-custom-plain-container-with-desc .description {
  font-weight: bold;
  text-align: center;
}
.my-app-custom-plain-container-with-desc .my-app-custom-image-with-desc {
  height: auto;
  margin-right: 2px;
  width: 200px;
  align-self: start;
}
.more {
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  color: #fff;
  padding-top: 4px;
  height: 46px;
  position: absolute;
  text-align: center;
  width: 50px;
}
